/* Definiciones de fuentes Be Vietnam Pro */
@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/fonts/BeVietnamPro/BeVietnamPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/fonts/BeVietnamPro/BeVietnamPro-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/fonts/BeVietnamPro/BeVietnamPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/fonts/BeVietnamPro/BeVietnamPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/fonts/BeVietnamPro/BeVietnamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/fonts/BeVietnamPro/BeVietnamPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/fonts/BeVietnamPro/BeVietnamPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/fonts/BeVietnamPro/BeVietnamPro-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/fonts/BeVietnamPro/BeVietnamPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/fonts/BeVietnamPro/BeVietnamPro-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/fonts/BeVietnamPro/BeVietnamPro-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('/fonts/BeVietnamPro/BeVietnamPro-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;